aplikasi layanan dakwah/clientevent/ClientEvent/src/conf/xml-resources/web-service-references/Event/wsdl/localhost_8080/Dakwah/Event.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://event.server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://event.server/" name="Event">
<types>
<xsd:schema>
<xsd:import namespace="http://event.server/" schemaLocation="http://localhost:8080/Dakwah/Event?xsd=1"/>
</xsd:schema>
</types>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="updateEvent">
<part name="parameters" element="tns:updateEvent"/>
</message>
<message name="updateEventResponse">
<part name="parameters" element="tns:updateEventResponse"/>
</message>
<message name="getEvent">
<part name="parameters" element="tns:getEvent"/>
</message>
<message name="getEventResponse">
<part name="parameters" element="tns:getEventResponse"/>
</message>
<message name="addEvent">
<part name="parameters" element="tns:addEvent"/>
</message>
<message name="addEventResponse">
<part name="parameters" element="tns:addEventResponse"/>
</message>
<portType name="Event">
<operation name="delete">
<input wsam:Action="http://event.server/Event/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://event.server/Event/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="updateEvent">
<input wsam:Action="http://event.server/Event/updateEventRequest" message="tns:updateEvent"/>
<output wsam:Action="http://event.server/Event/updateEventResponse" message="tns:updateEventResponse"/>
</operation>
<operation name="getEvent">
<input wsam:Action="http://event.server/Event/getEventRequest" message="tns:getEvent"/>
<output wsam:Action="http://event.server/Event/getEventResponse" message="tns:getEventResponse"/>
</operation>
<operation name="addEvent">
<input wsam:Action="http://event.server/Event/addEventRequest" message="tns:addEvent"/>
<output wsam:Action="http://event.server/Event/addEventResponse" message="tns:addEventResponse"/>
</operation>
</portType>
<binding name="EventPortBinding" type="tns:Event">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateEvent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEvent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addEvent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Event">
<port name="EventPort" binding="tns:EventPortBinding">
<soap:address location="http://localhost:8080/Dakwah/Event"/>
</port>
</service>
</definitions>