aplikasi layanan dakwah/DakwahClient/DakwahClient/web/WEB-INF/wsdl/localhost_8080/Dakwah/Konten.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://konten.server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://konten.server/" name="Konten">
<types>
<xsd:schema>
<xsd:import namespace="http://konten.server/" schemaLocation="http://localhost:8080/Dakwah/Konten?xsd=1"/>
</xsd:schema>
</types>
<message name="deleteKonten">
<part name="parameters" element="tns:deleteKonten"/>
</message>
<message name="deleteKontenResponse">
<part name="parameters" element="tns:deleteKontenResponse"/>
</message>
<message name="addKonten">
<part name="parameters" element="tns:addKonten"/>
</message>
<message name="addKontenResponse">
<part name="parameters" element="tns:addKontenResponse"/>
</message>
<message name="getKonten">
<part name="parameters" element="tns:getKonten"/>
</message>
<message name="getKontenResponse">
<part name="parameters" element="tns:getKontenResponse"/>
</message>
<message name="updateKonten">
<part name="parameters" element="tns:updateKonten"/>
</message>
<message name="updateKontenResponse">
<part name="parameters" element="tns:updateKontenResponse"/>
</message>
<portType name="Konten">
<operation name="deleteKonten">
<input wsam:Action="http://konten.server/Konten/deleteKontenRequest" message="tns:deleteKonten"/>
<output wsam:Action="http://konten.server/Konten/deleteKontenResponse" message="tns:deleteKontenResponse"/>
</operation>
<operation name="addKonten">
<input wsam:Action="http://konten.server/Konten/addKontenRequest" message="tns:addKonten"/>
<output wsam:Action="http://konten.server/Konten/addKontenResponse" message="tns:addKontenResponse"/>
</operation>
<operation name="getKonten">
<input wsam:Action="http://konten.server/Konten/getKontenRequest" message="tns:getKonten"/>
<output wsam:Action="http://konten.server/Konten/getKontenResponse" message="tns:getKontenResponse"/>
</operation>
<operation name="updateKonten">
<input wsam:Action="http://konten.server/Konten/updateKontenRequest" message="tns:updateKonten"/>
<output wsam:Action="http://konten.server/Konten/updateKontenResponse" message="tns:updateKontenResponse"/>
</operation>
</portType>
<binding name="KontenPortBinding" type="tns:Konten">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deleteKonten">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addKonten">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getKonten">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateKonten">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Konten">
<port name="KontenPort" binding="tns:KontenPortBinding">
<soap:address location="http://localhost:8080/Dakwah/Konten"/>
</port>
</service>
</definitions>